<table class="striped highlight centered responsive-table">
    <thead>
        <tr>
            <th>IP 位址</th>
            <th>一般頁面</th>
            <th>考試頁面</th>
            <th>後台頁面</th>
            <th>編輯/刪除</th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="rule in ipRules">
            <td>{{ $key }}</td>
            <td><i class="material-icons" :class="[rule.student ? 'green-text' : 'red-text']">{{ rule.student ? 'check' : 'close' }}</i></td>
            <td><i class="material-icons" :class="[rule.exam ? 'green-text' : 'red-text']">{{ rule.exam ? 'check' : 'close' }}</i></td>
            <td><i class="material-icons" :class="[rule.admin ? 'green-text' : 'red-text']">{{ rule.admin ? 'check' : 'close' }}</i></td>
            <td>
                <a class="btn-floating waves-effect waves-light orange" @click="edit($key)"><i class="material-icons">edit</i></a>
                <a class="btn-floating waves-effect waves-light red" @click="destroy($key)"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        <tr v-show="isEmptyObject(ipRules)">
            <td colspan="6">尚無 IP 規則限制</td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="row">
    <form class="col s12" @submit.prevent="update()">
        <div class="row">
            <div class="input-field col s12 l9">
                <input v-model="form.ip" id="ip" type="text" class="validate" required>
                <label for="ip">IP 位址</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 l3">
                <input v-model="form.rules.student" id="rules-student" type="checkbox" checked>
                <label for="rules-student">一般頁面</label>
            </div>

            <div class="input-field col s6 l3">
                <input v-model="form.rules.exam" id="rules-exam" type="checkbox">
                <label for="rules-exam">考試頁面</label>
            </div>

            <div class="input-field col s6 l3">
                <input v-model="form.rules.admin" id="rules-admin" type="checkbox">
                <label for="rules-admin">後台頁面</label>
            </div>

            <div class="input-field col s6 l3">
                <button class="btn waves-effect waves-light" type="submit">
                    <span>更新</span>
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
