vendor/
node_modules/
.idea/

public/build/
public/images
public/images/
public/js/admin.js
public/js/student.js
public/css/*
!public/css/.gitkeep

Homestead.yaml
Homestead.json
.env
_ide_helper.php
.phpstorm.meta.php
