* {
  font-family: GillSans, Calibri, Trebuchet, "Heiti TC", "WenQuanYi Zen Hei", "Microsoft JhengHei", sans-serif;
}

html {
  overflow-y: scroll !important;
  font-size: 18px;
}

#vuejs-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F3F6F8 none repeat scroll 0 0;
}

html, body, #vuejs-app {
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

img {
  max-width: 100%;
}

pre {
  white-space: pre-line;
  word-wrap: break-word;
}

ul.pagination a {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.full-width {
  width: 100%;
}

.markdown-content * {
  white-space: pre-wrap !important;
  word-break: break-all !important;
}

.practice-result {
  color: #fff;

  p, h3 {
    margin: 0;
  }

  hr {
    margin: 1rem 0;
  }

  .card-panel {
    border-radius: 3px;
  }
}

.practice-option-content {
  margin: 18px 0 27px;
  padding-left: 35px;
}

.user-select-none {
  user-select: none;
}

@import "admin";
@import "override";
