* {
  font-family: Microsoft JhengHei, Monospace;
}

html {
  overflow-y: scroll !important;
}

body {
  background: #FAFAFA;
}

header {
    margin-bottom: 30px;
}

footer {
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cursor {
  &-pointer {
    cursor: pointer;
    user-select: none;
  }
}

.side-nav {
  a {
    height: 44px;
  }
  .collapsible li ,a {
    line-height: 44px;
  }
}

.collapsible-accordion {
  background-color: #FFF;
}

.dropdown-button {
  display: inline-block;
}

.wrap-text {
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.nowrap-text {
  word-wrap: unset !important;
  white-space: nowrap !important;
}

.breadnav {
  box-shadow: none;
  margin-bottom: 30px;
}

.breadcrumb {
  display: inline-block;
  vertical-align: middle;
  color: #0d47a1 !important;
  font-size: 1.5em;
  &:before {
    color: #000 !important;
  }
  &:nth-child(2) {
    &:before {
      content:"" !important;
    }
  }
}

.breadcrumb-navi {
  font-size: 2.5em;
  height: 64px;
  line-height: 64px;
  vertical-align: middle;
  transform: rotate(90deg);
}

@media screen and (max-width: 600px) {
  .reponsive-heading-width {
    width: 100%;
  }
  .reponsive-heading-height {
    height: 3em;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .reponsive-heading-width {
    width: 50%;
  }
  .reponsive-heading-height {
    height: 5em;
  }
}

.show-img {
  width: 100%;
  padding: 0.4rem 0.75rem;
}
