input.untouched {
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: none !important;
}

.container .row {
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-bottom: unset;
}

.dropdown-button {
  display: inline-block;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
  margin-left: 3rem;
  width: 92%;
}

.material-icons {
  vertical-align: middle;
}

.materialboxed.initialized.active {
  max-width: unset;
}

.tabs {
  margin-bottom: 15px;
}
