<div class="card">
    <div class="card-content">
        <h4 class="indigo-text text-darken-4">{{ announcement.heading }}</h4>
    </div>

    <div class="card-action">
        <blockquote>
            <p class="flow-text wrap-text">{{ announcement.content }}</p>
        </blockquote>
    </div>

    <div class="card-content row">
        <div class="col s12 m6 l6" v-for="image in announcement.images">
            <img class="materialboxed show-img" :src="image.link">
        </div>
    </div>

    <div class="card-content wrap-text">
        <span v-if="announcement.link">相關連結：<a :href="announcement.link" target="_blank">{{ announcement.link }}</a></span>
        <span>最後更新：{{ announcement.updated_at.human }}</span>
        <span>發布時間：{{ announcement.created_at.human }}</span>
    </div>
</div>
