<div class="row">
    <form class="col s12" enctype="multipart/form-data" @submit.prevent="store()">
        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.heading"
                    id="heading"
                    type="text"
                    class="validate"
                    length="190"
                    maxlength="190"
                    autofocus
                    required
                >
                <label for="heading">公告標題</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.link"
                    id="link"
                    type="url"
                    class="validate"
                    length="190"
                    maxlength="190"
                >
                <label for="link">相關連結</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea
                    v-model="form.content"
                    id="content"
                    class="materialize-textarea"
                    length="1000"
                    required
                ></textarea>
                <label for="content">公告內容</label>
            </div>
        </div>

        <div class="input-field file-field">
            <div class="btn">
                <span>圖片</span>
                <input
                    v-el:form-image
                    type="file"
                    accept="image/*"
                    multiple
                >
            </div>
            <div class="file-path-wrapper">
                <input
                    type="text"
                    class="file-path validate"
                    placeholder="Upload one or more files"
                >
            </div>
        </div>

        <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">
                <span>新增</span>
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
