<div class="row">
    <form class="col s12" @submit.prevent="store()">
        <div class="row" >

            <div class="input-field col s12">
                <textarea
                    v-model="form.question.content"
                    id="questions-content"
                    class="materialize-textarea validate"
                    required
                ></textarea>
                <label for="questions-content">題目</label>
            </div>

            <div class="input-field col s12" v-for="n in c">
                <template v-if="! form.option.hasOwnProperty($index) && form.option.$set($index, {content: '', image: []})"></template>
                <textarea
                    v-model="form.option[$index].content"
                    id="option-{{ $index }}"
                    class="materialize-textarea validate"
                    required
                ></textarea>
                <label for="option-{{ $index }}">選項 {{ $index + 1 }}</label>
            </div>

            <div class="right">
                <a class="btn-floating btn-large waves-effect waves-light green" @click="c++"><i class="material-icons">add</i></a>
                <a class="btn-floating btn-large waves-effect waves-light blue" v-show="c > 1" @click="c--; option.pop()"><i class="material-icons">remove</i></a>
            </div>

            <div class="input-field col s12">
                <textarea
                    v-model="form.explanation"
                    id="explanation"
                    class="materialize-textarea validate"
                ></textarea>
                <label for="explanation">解析</label>
            </div>

            <div class="col s12">
                <label>難度</label>
                <select
                    v-model="form.difficulty_id"
                    class="browser-default"
                    required
                >
                    <template v-for="difficulty in difficulties">
                        <option value="{{ difficulty.id }}">{{ difficulty.name }}</option>
                    </template>
                </select>
            </div>

            <div class="input-field col s12">
                <input
                    v-model="form.multiple"
                    id="multiple"
                    type="checkbox"
                    class="filled-in"
                >
                <label for="multiple">多選</label>
            </div>

            <div class="input-field col s12">
                <label>答案</label>
                <template v-for="n in c">
                    <input
                        v-model="form.answer"
                        id="answer={{ $index }}"
                        type="checkbox"
                        value="{{ $index }}"
                    >
                    <label for="answer={{ $index }}"> 選項 {{$index + 1}}</label>
                </template>
            </div>
        </div>


        <div class="center-align">
            <button class="btn waves-effect waves-light" type="submit">
                <span>新增</span>
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
