<div class="row">
    <form class="col s12" @submit.prevent="store()">
        <div class="row">
            <div class="col s12">
                <label for="began_at">起始時間</label>
                <input
                    v-model="form.began_at"
                    id="began_at"
                    type="datetime-local"
                    class="validate"
                    required
                >
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.duration"
                    id="duration"
                    type="number"
                    class="validate"
                    min="1"
                    max="255"
                    required
                >
                <label for="duration">測驗時間</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="room">測驗教室</label>
                <select
                    v-model="form.room"
                    id="room"
                    class="browser-default validate"
                    required
                >
                    <option value="" disabled selected>測驗教室</option>
                    <template v-for="room in data.rooms">
                        <option value="{{ room }}">{{ room }}</option>
                    </template>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.std_maximum_num"
                    id="std_maximum_num"
                    type="number"
                    class="validate"
                    min="1"
                    max="255"
                    required
                >
                <label for="std_maximum_num">人數限制</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="apply-type">報名類型</label>
                <select
                    v-model="form.apply_type_id"
                    id="apply-type"
                    class="browser-default validate"
                    required
                >
                    <option value="" disabled selected>報名類型</option>
                    <template v-for="apply in data['exam.apply']">
                        <option value="{{ apply.id }}">{{ apply.name }}</option>
                    </template>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="subject">測驗類型</label>
                <select
                    v-model="form.subject_id"
                    id="subject"
                    class="browser-default validate"
                    required
                >
                    <option value="" disabled selected>測驗類型</option>
                    <template v-for="subject in data['exam.subject']">
                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                    </template>
                </select>
            </div>
        </div>

        <template v-if="isTheory">
            <div class="row">
                <div class="col s12">
                    <div class="switch">
                        <label>指定試卷 </label>
                        <label>
                            否
                            <input
                                v-model="form.specify_paper"
                                type="checkbox"
                            >
                            <span class="lever"></span>
                            是
                        </label>
                    </div>
                </div>
            </div>

            <template v-if="form.specify_paper">
                <div class="row">
                    <div class="col s12">
                        <label for="paper">指定試卷</label>
                        <select
                            v-model="form.paper_id"
                            id="paper"
                            class="browser-default validate"
                            required
                        >
                            <option value="" disabled selected>指定試卷</option>
                            <template v-for="paper in data.papers">
                                <option value="{{ paper.id }}">{{ paper.name }}</option>
                            </template>
                        </select>
                    </div>
                </div>
            </template>

            <template v-else>
                <div class="row">
                    <div class="col s12">
                        <label>題庫選擇</label>

                        <template v-for="set in data.sets">
                            <br>

                            <input
                                v-model="form.sets"
                                id="set-{{ set.id }}"
                                type="checkbox"
                                value="{{ set.id }}"
                            >
                            <label for="set-{{ set.id }}">{{ set.name }}</label>
                        </template>
                    </div>
                </div>
            </template>
        </template>

        <div class="row">
            <div class="col s12">
                <div class="switch">
                    <label>開放報名 </label>
                    <label>
                        否
                        <input
                            v-model="form.allow_apply"
                            type="checkbox"
                        >
                        <span class="lever"></span>
                        是
                    </label>
                </div>
            </div>
        </div>

        <div class="center-align">
            <button type="submit" class="btn waves-effect waves-light">
                <span>新增</span>
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
