<span>學號：{{ account.username }}</span><br>
<span>姓名：{{ account.name }}</span><br>
<span>性別：{{ account.gender.name }}</span><br>
<span>信箱：{{ account.email }}</span><br>

<span>系所：{{ account.department.remark }}</span><br>
<span>年級：{{ account.grade.name }}</span><br>
<span>班別：{{ account.class }}</span><br>

<span>測驗資訊</span><br>
<span>通過測驗：{{ account.passed_score || '-' }}</span><br>
<span>通過時間：{{ account.passed_at || '-' }}</span><br>
<template v-for="certificate in account.certificates">
    <span>{{ certificate.category.name }}：{{ certificate.score || '-' }}</span><br>
</template>

