<div class="row">
    <form class="col s12" @submit.prevent="search()">
        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.username"
                    id="username"
                    type="text"
                >
                <label for="username">學號（帳號）</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input
                    v-model="form.name"
                    id="name"
                    type="text"
                >
                <label for="name">姓名</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="department">系所</label>
                <select
                    v-model="form.department"
                    id="department"
                    class="browser-default"
                >
                    <option value="" selected>系所</option>
                    <template v-for="department in departments">
                        <option value="{{ department.id }}">{{ department.remark }}</option>
                    </template>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <label for="code">測驗場次</label>
                <select
                    v-model="form.code"
                    id="code"
                    class="browser-default"
                >
                    <option value="" selected>測驗場次</option>
                    <template v-for="code in codes">
                        <option value="{{ code }}">{{ code }}</option>
                    </template>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 l3">
                <button class="btn waves-effect waves-light" type="submit">
                    <span>搜尋</span>
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<hr>

<table class="striped highlight centered responsive-table">
    <thead>
        <tr class="reponsive-table-heading">
            <th>學號（帳號）</th>
            <th>姓名</th>
            <th>系所</th>
        </tr>
    </thead>
    <tbody>
        <tr class="reponsive-table-body" v-for="user in users">
            <td><a v-link="{name: 'users.edit', params: {user: user.username}}">{{ user.username }}</a></td>
            <td>{{ user.name }}</td>
            <td>{{ user.department.remark }}</td>
        </tr>
    </tbody>
</table>
